{% extends 'base.html' %}

{% block content %}
   {% include 'partials/_alerts.html' %}
   <h1>Login</h1>
   <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <label for="email">Email</label>
      <input type="email" name="email" id="email">
      <br>
      <label for="password">Senha</label>
      <input type="password" name="password" id="password">
      <br>
      <button type="submit">Acessar sua conta</button> | <button onclick="exibirCriarConta()">Ainda não tem conta? Clique aui</button>
   </form>

   <script>
      function exibirCriarConta(){
         location.href = "{% url 'cadastro' %}"
      }
   </script>
{% endblock %}