{% extends 'base.html' %}
{% load static %}

{% block content %}
   {% if receita.foto_receita %}
      <img src="{{receita.foto_receita.url}}" alt="{{receita.nome_receita}}">
   {% else %}
      <img src="{% static 'img/tomate_banner.jpg' %}">
   {% endif %}
   <h1>{{receita.nome_receita}}</h1>
   <hr>
   <h3>Ingredientes</h3>
   <p>{{receita.ingredientes}}</p>
   <hr>
   <h3>Modo de preparo</h3>
   <p>{{receita.modo_preparo}}</p>
   <hr>
   <h3>Tempo</h3>
   <p>{{receita.tempo_preparo}}</p>
   <hr>
   <h3>Rendimento</h3>
   <p>{{receita.rendimento}}</p>
   <hr>
   <h3>Categoria</h3>
   <p>{{receita.categoria}}</p>
   <hr>
   <h3>Postado por</h3>
   <p>{{receita.pessoa.nome}}</p>
   <hr>
   <a href="{% url 'receitas.list' %}">Home</a>
{% endblock %}